<section class="items-cat-one">
    <form class="form" autocomplete="off" nz-form  #f="ngForm">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group-lg">
                    <nz-form-label>
                        <label for="">
                            {{(getLang() == 'EN' ? ('Category Code' | translateEn) : ('Category Code' | translateAr))}}
                        </label>
                    </nz-form-label>
                    <nz-form-item>
                        <input  
                            class="form-control" 
                            nz-input 
                            type="text"
                            id=""
                            name=""/>                                                                            
                    </nz-form-item>
                </div>                  
            </div>
            <div class="col-md-6">
                <div class="input-group-lg">
                    <nz-form-label>
                        <label for="">
                            {{(getLang() == 'EN' ? ('Category Name' | translateEn) : ('Category Name' | translateAr))}}
                        </label>
                    </nz-form-label>
                    <nz-form-item>
                        <input  
                            class="form-control" 
                            nz-input 
                            type="text"
                            id=""
                            name=""/>                                                                            
                    </nz-form-item>
                </div>                  
            </div>            
        </div>
    </form>

    <!-- start grid -->
    <div class="row">
        <div class="col-md-12">
            <!-- hide grid -->
            <button 
                class="btn action-btn grid-with-text-btn" 
                matRipple 
                (click)="hideGrid()" 
                style="box-shadow: none !important;" >
                {{(getLang() == 'EN' ? ('Sub Categories' | translateEn) : ('Sub Categories' | translateAr))}}
                <i 
                    nz-icon 
                    nzType="plus-circle" 
                    nzTheme="outline" 
                    style="position: relative; top: -3px;"></i>
            </button>               
            <!-- hide grid -->            
            <!-- grid form -->
            <form 
                class="form add-overlay" 
                autocomplete="off" 
                nz-form style="margin-top: 5px;"
                [class.d-none]="isShowGrid"
                [class.d-block]="!isShowGrid">
                <div class="row">                    
                    <!-- Cat2. Code -->
                    <div class="col-md-6">
                        <nz-form-label>
                            <label for="">
                                {{(getLang() == 'EN' ? ('Cat2. Code' | translateEn) : ('Cat2. Code' | translateAr))}}
                            </label>
                        </nz-form-label>                            
                        <nz-form-item>
                            <input  
                                class="form-control ordered-check" 
                                nz-input 
                                type="text"
                                id=""
                                name=""/>                                                                                                                    
                        </nz-form-item>
                    </div>
                    <!-- Cat2. Code -->

                    <!-- Category 2 -->
                    <div class="col-md-6">
                        <nz-form-label>
                            <label for="">
                                {{(getLang() == 'EN' ? ('Category 2' | translateEn) : ('Category 2' | translateAr))}}
                            </label>
                        </nz-form-label>                            
                        <nz-form-item>
                            <input  
                                class="form-control ordered-check" 
                                nz-input 
                                type="text"
                                id=""
                                name=""/>                                                                                                                    
                        </nz-form-item>
                    </div>
                    <!-- Category 2 -->                      

                    <!-- submit -->
                    <div class="col-md-3" *ngIf="isAdd" style="margin-bottom: 10px;">
                        <button 
                            class="btn btn-primary btn-block" 
                            matRipple 
                            style="box-shadow: none !important;">
                            {{(getLang() == 'EN' ? ('Add' | translateEn) : ('Add' | translateAr))}}
                        </button>
                    </div>
                    <!-- submit -->

                    <!-- Edit -->
                    <div class="col-md-3" *ngIf="!isAdd" style="margin-bottom: 10px;">
                        <button 
                            class="btn btn-success btn-block" 
                            matRipple 
                            style="box-shadow: none !important;">
                            {{(getLang() == 'EN' ? ('Edit' | translateEn) : ('Edit' | translateAr))}}
                        </button>
                    </div>
                    <!-- Edit -->                        

                    <!-- show grid -->
                    <div class="col-md-3">
                        <button 
                            class="btn btn-block" 
                            [class.btn-outline-primary]="isAdd"
                            [class.btn-outline-success]="!isAdd"
                            matRipple 
                            style="box-shadow: none !important;"
                            (click)="showGrid()">
                            {{(getLang() == 'EN' ? ('Hide' | translateEn) : ('Hide' | translateAr))}}
                        </button>
                    </div>
                    <!-- show grid -->                        
                </div>
            </form>
            <!-- grid form -->  
            <!-- grid -->
            <div class="data-grid" [class.d-block]="isShowGrid" [class.d-none]="!isShowGrid">
                <app-grid [gridData]="gridData"></app-grid>
            </div>
            <!-- grid -->                  
        </div>
    </div>
    <!-- end grid -->     
</section>