// In this scss you can overwrite all our scss, we suggested you to add your scss into this, so whenever the update comes it will not affect your code.
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// Global

[dir="ltr"]{
    font-family: 'Roboto' !important;
}

[dir="rtl"]{
    font-family: 'Cairo' !important;
}

section{position: relative;}

label{margin-bottom: 2px;}

textarea{height: 35px !important;}

.table th{padding: 5px !important;}

// Classes

.lang-ar{
    direction: rtl;
    text-align: right;
    font-family: 'Cairo';
}

.lang-en{
    direction: ltr;
    text-align: left;
    font-family: 'Roboto';
}

.search-wrapper,
.accounts-wrapper{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    padding: 5px;
    border-radius: 5px;
    margin: auto;
}

.special-font{font-family: 'Cairo';}

.saudi-logo{
    position: relative;
    top: 2px;
}

.reset-btn{
    border-radius: 0 !important;
    box-shadow: none !important;
}

.en-logo,
.ar-logo{
    color: #fff;
    font-weight: bold;
    display: block;
    transform: scale(1.6);
    margin-left: 35px;
}

.ar-logo{
    margin-right: 35px;
    margin-left: 0;
    transform: scale(1.4);
}

.highlight{
    background-color: #ffff00 !important;
}

.table{
    margin-bottom: 0;
}

.combo-dropdown{
    position: absolute;
    height: 32px;
    line-height: 32px;
    width: 32px;
    text-align: center;
    top: 0;
    background-color: #333d54;
    color: rgba(255, 255, 255, 0.75) !important;
}

.combo-ar{
    left: 0;
    right: auto;
}

.combo-en{
    left: auto;
    right: 0;
}

.dis-table{
    display: table;
    border: 1px solid #ebeef1;
    padding: 0;
    margin: 5px 10px;
    border-radius: 10px;
    cursor: default;

    .table-header{
        display: table-header-group;
        background: #333d54;
        color: rgba(255, 255, 255 , .75);      

        .table-row{
            display: table-row;

            .table-cell{
                display: table-cell;
                padding: 5px;
                text-align: center;

                &:first-child{
                    border-right: 1px solid #ebeef1;
                }
            }
        }
    }

    .table-body{
        display: table-row-group;        

        .table-row{
            display: table-row;                
            cursor: pointer;
            transition: all .3s ease-out;   
            
            &:hover{
                background: #f2f4f6;
            }

            .table-cell{
                display: table-cell;
                padding: 5px;
                text-align: center;
                border-bottom: 1px solid #ebeef1;

                &:first-child{
                    border-right: 1px solid #ebeef1;
                }
            }
        }
    }
}

.w-100 .ant-table-fixed{width: 100% !important;}

.forms-table .ant-table-fixed{width: 150% !important;}

.w-200 .ant-table-fixed{width: 200% !important;}

.w-300 .ant-table-fixed{width: 300% !important;}

.w-350 .ant-table-fixed{width: 350% !important;}

.cost-center-table .ant-table-tbody > tr > td{padding: 3px 0;}

.wide-table .ant-table-fixed{width: 200% !important;}

.mega-wide .ant-table-fixed{width: 300% !important;}

.ultra-wide .ant-table-fixed{width: 400% !important;}

.super-ultra-wide .ant-table-fixed,
.super-ultra-wide-customer .ant-table-fixed,
.super-ultra-wide-voucher .ant-table-fixed{width: 600% !important;}

.remove-pagination .ant-pagination{display: none !important}

.hide-long-text{
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-btn{
    padding: 3.5px 10px;
    outline: none;
    cursor: pointer;
}

.sort-btn{
    display: block !important;
    width: 20px !important;
    height: 20px !important;
    text-align: center !important;
    margin: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    margin-top: 12px !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    line-height: 22px !important;
}

.action-btn{
    width: 30px !important;
    height: 20px !important;
    text-align: center !important;
    display: inline-block !important;
    padding: 0 !important;
    box-shadow: none !important;
    line-height: 25px !important;
    background-color: transparent !important;
    color: #3c3c3c !important;
    transition: all .3s ease-out !important;

    &:hover{background-color: #cfd2dc !important;}
}

.add-overlay{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    z-index: 999;

    &::before{
        content:"";
        display: block;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.2);
    }

    &::after{
        content:"";
        display: block;
    }
}

.user-style{
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #a1aab2;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
}

.grid-with-text-btn{
    width: 200px !important;
    display: block !important;
    padding: 5px !important;
    height: 35px !important;
}

.grid-with-text-btn{
    i{top: 0 !important;}
}

.item-cat-text{
    margin: 0;
    color: #0755cab8;
}

.show-hide-btn{
    position: fixed;    
    top: 50%;
    z-index: 999;
}

.show-hide-btn-right{right: 0;}

.show-hide-btn-left{left: 0;}

// custom

.sidebar-nav ul .sidebar-item {font-size: 13px;}

.system-preferences{
    .form-group {
        margin-bottom: .65rem;
    }
}

.form{
    padding-top: 1rem !important;
}

table td {padding: 0 7px !important;}

.adjust-padding td {padding: 0 !important;}


// adjust some theme style

[dir="rtl"] .dropdown-menu.dropdown-menu-right{
    right: auto !important;
    left: 120px !important;
}

.card .card-title{margin-bottom: 10px;}

.btn{line-height: 1.3;}

.sidebar-nav ul .nav-small-cap{
    font-weight: bold !important;
    background-color: transparent !important;
}

// ant

.ant-select{width: 100%;}

.lang-ar .ant-notification-notice-with-icon .ant-notification-notice-description{
    margin-left: 0;
    margin-right: 48px;
}

.lang-ar .ant-notification-notice-with-icon .ant-notification-notice-message{
    margin-left: 0;
    margin-right: 25px;
}

.lang-ar .ant-notification-notice-close{
    display: none;
}

.lang-ar .ant-modal-close{
    left: 0;
    right: auto;
}

.lang-ar .ant-pagination-item,
.lang-ar .ant-pagination-prev, 
.lang-ar .ant-pagination-jump-prev, 
.lang-ar .ant-pagination-jump-next{
    margin-right: auto;
    margin-left: 8px;
}

.lang-ar .ant-pagination-prev, 
.lang-ar .ant-pagination-next{
    transform: rotate(180deg);
}

.ant-modal-body{
    padding: 5px 15px;
}

.ant-select-dropdown-menu{padding-right: 0;}

.lang-ar .ant-modal-confirm-btns{
    direction: ltr;
}

.lang-ar .ant-modal-confirm-btns button + button{
    margin-right: auto;
    margin-left: 8px;
}

.lang-ar .ant-modal-footer button + button{
    margin-right: 8px;
    margin-left: auto;
}

.lang-en .ant-modal-confirm-btns{
    float: left;
    direction: rtl;
}

.lang-en .ant-modal-confirm-btns button + button{
    margin-right: 8px;
    margin-left: auto;
}

[ng-reflect-nz-dropdown-class-name="lang-ar"] .ant-select-selection-selected-value{float: right;}

.ant-table table,
.table thead th, 
.table th{text-align: revert;}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td{
    padding: 3px 0;
    vertical-align: middle;
}

.table thead tr th{
    background-color: #333d54;
    color: #fff;
}

.ant-table-fixed-header .ant-table-scroll .ant-table-header{overflow: auto !important;}

.ant-modal-close-x{
    height: 43px;
    line-height: 43px;
}

.ant-modal-header{
    padding: 10px 24px;
}

.sidebar-nav ul .nav-small-cap{
    background-color: #5d6c8e;
    opacity: 1;
}

.ant-dropdown-menu{
    height: 200px;
    overflow-y: scroll;
}

.ant-dropdown-menu-item:hover, 
.ant-dropdown-menu-submenu-title:hover{background-color: transparent;}

.ant-dropdown-menu-item-selected{color: #000;}

.ant-form-item-label{
    line-height: 1.5;
}

.ant-form-item-label > label::after{content: '';}

.ant-table-tbody > tr > td{
    font-weight: 600;
    border: 1px solid #dee2e6;
}

.ant-calendar-picker{display: block;}

.sidebar-nav ul .sidebar-item .sidebar-link, 
.sidebar-nav ul .sidebar-item .sidebar-link{transition: all .3s ease-out;}

.sidebar-nav ul .sidebar-item .first-level .sidebar-item.active .sidebar-link,
.sidebar-nav ul .sidebar-item .first-level .sidebar-item .sidebar-link:hover{
    background-color: #2a3346;
}

.sidebar-nav ul .sidebar-item .first-level .sidebar-item .sidebar-link{background-color: #333d54;}

.sidebar-nav ul .sidebar-item .second-level .sidebar-item .sidebar-link{
    background-color: #333d54 !important;
}

.sidebar-nav ul .sidebar-item .second-level .sidebar-item.active .sidebar-link,
.sidebar-nav ul .sidebar-item .second-level .sidebar-item .sidebar-link:hover{
    background-color: #000 !important;
}

.sidebar-nav ul .sidebar-item .first-level .sidebar-item.active .sidebar-link,
.sidebar-nav ul .sidebar-item .first-level .sidebar-item .sidebar-link:hover{border-radius: 60px 0 0 60px;}

.ant-table-placeholder{border-bottom: 0;}

.ant-descriptions-item-label{
    color: darkred;
    font-weight: bold;
    float: left;
    width: 30%;
}

.ant-descriptions-item-content{
    color: #0000ff;
    float: right;
    width: 70%;
    text-align: center;
}

.lang-ar .ant-descriptions-item-label{
    float: right;
    width: 30%;
}

.lang-ar .ant-descriptions-item-content{
    float: left;
    width: 70%;
    text-align: center;
}

.ant-descriptions-row:nth-child(even){background-color: rgba(0, 0, 0, 0.05);}

.items-in-branch .ant-modal-title{width: 85%;}

.login-form{
    .ant-form-item{margin-bottom: 15px;}
}

.ant-form-item{margin-bottom: 15px;}

.ant-message-ar{
    direction: rtl !important;
    .anticon{
        margin-right: auto !important;
        margin-left: 8px !important;
        font-family: 'Cairo';
    }
}

.ant-transfer-list{
    width: 48%;
}

.ant-transfer-list-header{
    background: #333d54;
    color: #fff;
}

.rtl-list{
    .ant-transfer-list-header-title{
        right: auto;
        left: 12px;
    }

    .ant-transfer-list-header .ant-checkbox-wrapper + span {
        padding-left: 0;
        padding-right: 8px;
    }

    .ant-transfer-list-search-action{
        right: auto;
        left: 12px;
    }

    .ant-btn-icon-only.ant-btn-sm{
        transform: rotate(180deg);
    }
}

.custom-validator{
    .ant-form-item-children{display: block}
}

.lang-ar{

    .ant-form-item-children{
        .ant-form-item-children-icon{
            left: 0;
            right: auto;
        }
    }
}

.sales-order-currency{
    .ant-form-item{
        margin-bottom: 10px;
    }
}

.ant-checkbox + span,
.mat-tab-label, .mat-tab-link{color: rgba(0, 0, 0, 0.85)};

.ant-input-group.ant-input-group-compact > *{border-radius: 2px !important;}

.grid-row{
    .ant-form-item{margin-bottom: 0;}
}

.ant-table-thead > tr > th .ant-table-header-column{display: block !important;}

.mat-tab-label-active{background-color: #dedede;}

// theme

.topbar .top-navbar .navbar-nav > .nav-item > .nav-link{
    display: flex;
    align-items: center;
}

// bootstrap

.card{border: 1px solid rgba(62, 85, 105, .4);}

.form-control,
textarea{
    border: 1px solid rgba(62, 85, 105, .4) !important;
}

.btn{
    border-radius: 50px !important;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .6) !important;
}

// mat

.mat-sort-header-button{
    display: block !important;
    width: 100%;
}

.mat-sort-header-arrow{
    margin-left: 0 !important;
    color: #fff;
}

.mat-tab-group.mat-primary .mat-ink-bar, 
.mat-tab-nav-bar.mat-primary .mat-ink-bar{background-color: #2585e4;}

.mat-tab-body.mat-tab-body-active{overflow: initial;}

.mat-tab-body-content{overflow: hidden !important;}

// font

.fa-stack{
    height: 2em;
    line-height: 2em;
    width: 1.5em;
}

// responsive

@media only screen and (max-width: 768px) {
    .w-500-sm .ant-table-fixed{width: 300% !important;}
}

@media only screen and (max-width: 767px) {
    .w-500-sm .ant-table-fixed{width: 500% !important;}

    .sm-center{text-align: center !important;}

    .ant-form-item{margin-bottom: 15px !important;}

    .topbar .top-navbar .navbar-nav > .nav-item > .nav-link{
        padding: 0 5px;
    }
}