<form class="form" autocomplete="off" [formGroup]="costCenterForm" nz-form  #f="ngForm" style="padding-top: 1.25rem;">
    <fieldset>
        <div class="row"> 
            <div class="col-md-3">
                <div class="form-group">
                    <nz-form-label>
                        <label for="centercode" >
                            {{(getLang() == 'EN' ? ('CenterCode' | translateEn) : ('CenterCode' | translateAr))}}
                        </label>                                                    
                    </nz-form-label>                                                
                    <div class="input-group-lg">
                        <nz-form-item>
                            <nz-form-control [nzErrorTip]="lang.centerCodeError">
                                <input  
                                    class="form-control" 
                                    nz-input 
                                    type="text"
                                    formControlName="CenterCode" 
                                    id="centercode" 
                                    name="centercode" 
                                    ngModel/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>
    
            <div class="col-md-9">
                <div class="form-group">
                    <nz-form-label>
                        <label for="centername">
                            {{(getLang() == 'EN' ? ('CenterName' | translateEn) : ('CenterName' | translateAr))}}
                        </label>
                    </nz-form-label>                                                                                                 
                    <div class="input-group-lg">
                        <nz-form-item>
                            <nz-form-control [nzErrorTip]="lang.centerNameError">
                                <input  
                                    class="form-control" 
                                    nz-input 
                                    type="text"
                                    formControlName="CenterName" 
                                    id="centername" 
                                    name="centername" 
                                    ngModel />
                            </nz-form-control>                                                
                        </nz-form-item>
                    </div>
                </div>
            </div> 
            
            <div class="col-md-3">
                <div class="form-group">
                    <nz-form-label>
                        <label for="parent">
                            {{(getLang() == 'EN' ? ('CenterParent' | translateEn) : ('CenterParent' | translateAr))}}
                        </label>
                    </nz-form-label>                                                                                               
                    <div class="input-group-lg">
                        <nz-form-item style="position: relative;">
                            <nz-input-group nzSearch [nzAddOnAfter]="centerParentIcon">
                                <input  
                                    class="form-control" 
                                    nz-input 
                                    type="text"
                                    formControlName="CenterParent" 
                                    id="parent" 
                                    name="parent" 
                                    ngModel
                                    #value
                                    (blur)="checkIsHaveVal()"
                                    (keyup)="searchParent(value.value)"/> 
                            </nz-input-group>                                                                                                                                   
                        </nz-form-item>
                        <ng-template #centerParentIcon>
                            <button 
                                nz-button 
                                nzType="primary" 
                                nzSearch
                                class="search-btn btn-info"
                                (click)="loadDataFromDB()"
                                matRipple
                                [disabled]="isParentDisabled" >
                                <i nz-icon nzType="loading" nzTheme="outline" *ngIf="isNewLoadForParents"></i>
                                <i nz-icon nzType="search" *ngIf="!isNewLoadForParents"></i>
                            </button>
                        </ng-template>                          
                    </div>                                        
                </div>
            </div> 
            <div class="col-md-9">
                <div class="form-group">
                    <nz-form-label>
                        <label for="parentname">
                            {{(getLang() == 'EN' ? ('CenterParentName' | translateEn) : ('CenterParentName' | translateAr))}}
                        </label>
                    </nz-form-label>                                                                                                
                    <div class="input-group-lg">
                        <nz-form-item>
                            <input  
                                class="form-control" 
                                nz-input 
                                type="parentname"
                                formControlName="parentname" 
                                id="parentname" 
                                name="parentname" 
                                ngModel 
                                disabled/>                                             
                        </nz-form-item>
                    </div>
                </div>
            </div>                               
            <div class="col-md-3">
                <div class="form-group">
                    <nz-form-label>
                        <label for="level">
                            {{(getLang() == 'EN' ? ('CenterLevel' | translateEn) : ('CenterLevel' | translateAr))}}
                        </label>
                    </nz-form-label>                                                                                                
                    <div class="input-group-lg">
                        <nz-form-item>
                            <input  
                                class="form-control" 
                                nz-input 
                                type="level"
                                formControlName="CenterLevel" 
                                id="level" 
                                name="level"
                                type="text"                                 
                                disabled/>                                             
                        </nz-form-item>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="form-group">
                    <nz-form-label>
                        <label for="final">
                            {{(getLang() == 'EN' ? ('CenterIsFinal' | translateEn) : ('CenterIsFinal' | translateAr))}}
                        </label>
                    </nz-form-label>                                                                                                
                    <div class="input-group-lg">
                        <label 
                            nz-checkbox 
                            formControlName="CenterIsFinal" 
                            id="final" 
                            [nzDisabled]="isDisabled"></label>
                    </div>
                </div>
            </div>                                          
                   
        </div>
    </fieldset>
</form> 

<!-- modal -->

<nz-modal 
    [(nzVisible)]="isVisible" 
    [nzTitle]="(getLang() == 'EN' ? ('CenterParent' | translateEn) : ('CenterParent' | translateAr))" 
    (nzOnCancel)="handleCancel()"
    [nzStyle]="{ top: '20px' }"
    nzClassName="{{(getLang() == 'AR') ? 'lang-ar' : 'lang-en'}}">
    <div class="table-responsive">
        <nz-table 
            #headerTable  
            nzShowPagination
            [nzData]="parents" 
            [nzPageSize]="10" 
            [nzScroll]="{ x: '240px' }"
            class="table forms-table table-striped"
            (nzCurrentPageDataChange)="tblPageChangeHandler($event)"
            [nzLoading]="isTableSearch"
            *ngIf="parents.length >= 1">
            <thead>
              <tr> 
                <th 
                    *ngFor="let head of (getLang() == 'EN' ? (parents[0] | translateEn) : (parents[0] | translateAr)); let i = index">
                    <app-sort [data]="parents" [sortIndex]="i" [title]="head" (sortedData)="sotrHandler($event)"></app-sort>
                </th>
              </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let allData of parents; let i = index" 
                    (click)="onItemClicked(i)" 
                    style="cursor: pointer;">
                    <td 
                        *ngFor="let d of allData | render" 
                        class="hide-long-text"
                        [class.text-center]="allData[d] | canBeCenter">{{allData[d] | replaceEmpty}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th *ngFor="let key of parents[0] | createSearch" >
                        <input 
                            nz-input
                            class="form-control" 
                            type="text" 
                            #value 
                            (keyup.enter)="filterData(key, value.value)" />
                    </th>
                </tr>
            </tfoot>
        </nz-table>
        <nz-table [nzData]="parents" *ngIf="parents.length == 0"></nz-table>              
    </div>

    <div *nzModalFooter [class.text-right]="getLang() == 'AR'" [class.text-left]="getLang() == 'EN'">
        <button class="btn btn-info" matRipple (click)="reset()" *ngIf="parents.length == 0">
            {{lang.taskBarRefresh}}
        </button>
    </div>
</nz-modal>