<form class="form" autocomplete="off" [formGroup]="itemsClassesForm" nz-form  #f="ngForm" style="padding-top: 1.25rem;">
    <fieldset>
        <div class="row"> 
            <div class="col-md-3">
                <div class="form-group">
                    <nz-form-label>
                        <label for="ClassID" >
                            {{(getLang() == 'EN' ? ('ClassID' | translateEn) : ('ClassID' | translateAr))}}
                        </label>                                                    
                    </nz-form-label>                                                
                    <div class="input-group-lg">
                        <nz-form-item>
                            <nz-form-control [nzErrorTip]="lang.centerCodeError">
                                <input  
                                    class="form-control" 
                                    nz-input 
                                    type="text"
                                    formControlName="ClassID" 
                                    id="ClassID" 
                                    name="ClassID" 
                                    ngModel/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>
    
            <div class="col-md-9">
                <div class="form-group">
                    <nz-form-label>
                        <label for="ItemClass">
                            {{(getLang() == 'EN' ? ('ItemClass' | translateEn) : ('ItemClass' | translateAr))}}
                        </label>
                    </nz-form-label>                                                                                                 
                    <div class="input-group-lg">
                        <nz-form-item>
                            <input  
                                class="form-control" 
                                nz-input 
                                type="text"
                                formControlName="ItemClass" 
                                id="ItemClass" 
                                name="ItemClass" 
                                ngModel />                                               
                        </nz-form-item>
                    </div>
                </div>
            </div> 
            
            <div class="col-md-3">
                <div class="form-group">
                    <nz-form-label>
                        <label for="VendCode">
                            {{(getLang() == 'EN' ? ('VendCode' | translateEn) : ('VendCode' | translateAr))}}
                        </label>
                    </nz-form-label>                                                                                               
                    <div class="input-group-lg">
                        <nz-form-item style="position: relative;">
                            <nz-input-group nzSearch [nzAddOnAfter]="vendorsIcon">
                                <input  
                                    class="form-control" 
                                    nz-input 
                                    type="text"
                                    formControlName="VendCode" 
                                    id="VendCode" 
                                    name="VendCode" 
                                    ngModel
                                    #value
                                    (blur)="checkIsHaveVal()"
                                    (keyup)="searchParent(value.value)"/>  
                            </nz-input-group>                                                         

                                <!-- combo box -->
                                <!--<a 
                                    nz-dropdown 
                                    [nzDropdownMenu]="menu" 
                                    class="combo-dropdown"
                                    [class.combo-ar]="getLang() == 'AR'" 
                                    [class.combo-en]="getLang() == 'EN'" 
                                    *ngIf="!isVendorDisabled">
                                    <i nz-icon nzType="down"></i>
                                </a>
                                <nz-dropdown-menu #menu="nzDropdownMenu">
                                    <ul nz-menu nzSelectable>
                                      <li nz-menu-item class="dis-table"> 
                                        <div class="table-header">
                                            <div class="table-row">
                                                <span class="table-cell">{{(getLang() == 'EN' ? ('VendorCode' | translateEn) : ('VendorCode' | translateAr))}}</span>
                                                <span class="table-cell">{{(getLang() == 'EN' ? ('VendorName' | translateEn) : ('VendorName' | translateAr))}}</span>
                                            </div>
                                        </div>
                                        <div class="table-body">
                                            <div 
                                                class="table-row row-val"                                                 
                                                *ngFor="let v of vendors; let i = index"
                                                (click)="getValFromDropDown(i)">
                                                <span class="table-cell">{{v.VendorCode}}</span>
                                                <span class="table-cell">{{v.VendorName}}</span>
                                            </div>
                                        </div>                                                                 
                                      </li>
                                    </ul>
                                </nz-dropdown-menu>-->                                                                                                       
                        </nz-form-item>
                        <ng-template #vendorsIcon>
                            <button 
                                nz-button 
                                nzType="primary" 
                                nzSearch
                                class="search-btn btn-info"
                                (click)="showVindors()"
                                matRipple
                                [disabled]="isVendorDisabled" >
                                <i nz-icon nzType="search"></i>
                            </button>
                        </ng-template>                          
                    </div>                                        
                </div>
            </div> 
            <div class="col-md-9">
                <div class="form-group">
                    <nz-form-label>
                        <label for="VendorName">
                            {{(getLang() == 'EN' ? ('VendorName' | translateEn) : ('VendorName' | translateAr))}}
                        </label>
                    </nz-form-label>                                                                                                
                    <div class="input-group-lg">
                        <nz-form-item>
                            <input  
                                class="form-control" 
                                nz-input 
                                type="text"
                                formControlName="VendorName" 
                                id="VendorName" 
                                name="VendorName" 
                                ngModel 
                                disabled/>                                             
                        </nz-form-item>
                    </div>
                </div>
            </div>                               

            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group-lg">
                        <nz-form-label>
                            <label for="Notes">
                                {{(getLang() == 'EN' ? ('Notes' | translateEn) : ('Notes' | translateAr))}}
                            </label>
                        </nz-form-label>
                        <nz-form-item>
                            <textarea
                                nz-input
                                [nzAutosize]="{ minRows: 2, maxRows: 20 }"
                                formControlName="Notes" 
                                id="Notes" 
                                name="Notes" 
                            ></textarea>                                             
                        </nz-form-item>
                    </div>                                        
                </div>
            </div>                                          
                   
        </div>
    </fieldset>
</form>  

<!-- modal -->

<nz-modal 
    [(nzVisible)]="isVisible" 
    [nzTitle]="(getLang() == 'EN' ? ('vendors' | translateEn) : ('vendors' | translateAr))" 
    (nzOnCancel)="handleCancel()"
    nzWidth="60%"
    [nzStyle]="{ top: '20px' }"
    nzClassName="{{(getLang() == 'AR') ? 'lang-ar' : 'lang-en'}}">
    <div class="table-responsive">
        <nz-table 
            #headerTable  
            nzShowPagination
            [nzData]="data" 
            [nzPageSize]="10" 
            [nzScroll]="{ x: '240px' }"
            class="table table-striped"
            (nzCurrentPageDataChange)="tblPageChangeHandler($event)"
            [nzLoading]="isTableSearch"
            *ngIf="isData">
            <thead>
              <tr> 
                <th 
                    *ngFor="let head of (getLang() == 'EN' ? (headerTable.data[0] | translateEn) : (headerTable.data[0] | translateAr)); let i = index">
                    <app-sort [data]="vendors" [sortIndex]="i" [title]="head" (sortedData)="sotrHandler($event)"></app-sort>
                </th>
              </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let allData of headerTable.data; let i = index" 
                    (click)="onItemClicked(i)" 
                    style="cursor: pointer;">
                    <td 
                        *ngFor="let d of allData | render" 
                        class="hide-long-text"
                        [class.text-center]="allData[d] | canBeCenter">{{allData[d] | replaceEmpty}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th *ngFor="let key of headerTable.data[0] | createSearch" >
                        <input 
                            nz-input
                            class="form-control" 
                            type="text" 
                            #value 
                            (keyup.enter)="filterData(key, value.value)" />
                    </th>
                </tr>
            </tfoot>
        </nz-table>
        <nz-table [nzData]="data" *ngIf="!isData"></nz-table>              
    </div>

    <div *nzModalFooter [class.text-right]="getLang() == 'AR'" [class.text-left]="getLang() == 'EN'">
        <button class="btn btn-info" matRipple (click)="reset()" *ngIf="data.length == 0">
            {{lang.taskBarRefresh}}
        </button>
    </div>
</nz-modal>