<form class="form" autocomplete="off" nz-form  #f="ngForm">
    <div class="row">
        <div class="col-md-12">
            <nz-form-label>
                <label for="">
                    {{(getLang() == 'EN' ? ('Collection Performance Ratio' | translateEn) : ('Collection Performance Ratio' | translateAr))}}
                </label>
            </nz-form-label>
            <div class="row">
                <div class="col">
                    <div class="input-group-lg">
                        <nz-form-item>
                            <input  
                                class="form-control" 
                                nz-input 
                                type="text"
                                id=""
                                name=""/>                                                                               
                        </nz-form-item>
                    </div>
                </div>

                <div class="col">
                    <div class="input-group-lg">
                        <nz-form-item>
                            <input  
                                class="form-control" 
                                nz-input 
                                type="text"
                                id=""
                                name=""/>                                                                               
                        </nz-form-item>
                    </div>
                </div>  
                
                <div class="col">
                    <div class="input-group-lg">
                        <nz-form-item>
                            <input  
                                class="form-control" 
                                nz-input 
                                type="text"
                                id=""
                                name=""/>                                                                               
                        </nz-form-item>
                    </div>
                </div>

                <div class="col">
                    <div class="input-group-lg">
                        <nz-form-item>
                            <input  
                                class="form-control" 
                                nz-input 
                                type="text"
                                id=""
                                name=""/>                                                                               
                        </nz-form-item>
                    </div>
                </div> 
                
                <div class="col">
                    <div class="input-group-lg">
                        <nz-form-item>
                            <input  
                                class="form-control" 
                                nz-input 
                                type="text"
                                id=""
                                name=""/>                                                                               
                        </nz-form-item>
                    </div>
                </div>                 
            </div> 
                         
        </div>                       
    </div>

    <div class="row">
        <div class="col-md-12">
            <nz-form-label>
                <label for="">
                    {{(getLang() == 'EN' ? ('Collection Performance Payment Ratio' | translateEn) : ('Collection Performance Payment Ratio' | translateAr))}}
                </label>
            </nz-form-label>
            <div class="row">
                <div class="col">
                    <div class="input-group-lg">
                        <nz-form-item>
                            <input  
                                class="form-control" 
                                nz-input 
                                type="text"
                                id=""
                                name=""/>                                                                               
                        </nz-form-item>
                    </div>
                </div>

                <div class="col">
                    <div class="input-group-lg">
                        <nz-form-item>
                            <input  
                                class="form-control" 
                                nz-input 
                                type="text"
                                id=""
                                name=""/>                                                                               
                        </nz-form-item>
                    </div>
                </div>  
                
                <div class="col">
                    <div class="input-group-lg">
                        <nz-form-item>
                            <input  
                                class="form-control" 
                                nz-input 
                                type="text"
                                id=""
                                name=""/>                                                                               
                        </nz-form-item>
                    </div>
                </div>

                <div class="col">
                    <div class="input-group-lg">
                        <nz-form-item>
                            <input  
                                class="form-control" 
                                nz-input 
                                type="text"
                                id=""
                                name=""/>                                                                               
                        </nz-form-item>
                    </div>
                </div> 
                
                <div class="col">
                    <div class="input-group-lg">
                        <nz-form-item>
                            <input  
                                class="form-control" 
                                nz-input 
                                type="text"
                                id=""
                                name=""/>                                                                               
                        </nz-form-item>
                    </div>
                </div>                 
            </div> 
                         
        </div>                       
    </div> 
    
    <br>

    <div class="row">
        <div class="col-md-12">
            <nz-form-label>
                <label for="">
                    {{(getLang() == 'EN' ? ('Quota Achievement Ratio' | translateEn) : ('Quota Achievement Ratio' | translateAr))}}
                </label>
            </nz-form-label>
            <div class="row">
                <div class="col">
                    <div class="input-group-lg">
                        <nz-form-item>
                            <input  
                                class="form-control" 
                                nz-input 
                                type="text"
                                id=""
                                name=""/>                                                                               
                        </nz-form-item>
                    </div>
                </div>

                <div class="col">
                    <div class="input-group-lg">
                        <nz-form-item>
                            <input  
                                class="form-control" 
                                nz-input 
                                type="text"
                                id=""
                                name=""/>                                                                               
                        </nz-form-item>
                    </div>
                </div>  
                
                <div class="col">
                    <div class="input-group-lg">
                        <nz-form-item>
                            <input  
                                class="form-control" 
                                nz-input 
                                type="text"
                                id=""
                                name=""/>                                                                               
                        </nz-form-item>
                    </div>
                </div>

                <div class="col">
                    <div class="input-group-lg">
                        <nz-form-item>
                            <input  
                                class="form-control" 
                                nz-input 
                                type="text"
                                id=""
                                name=""/>                                                                               
                        </nz-form-item>
                    </div>
                </div> 
                
                <div class="col">
                    <div class="input-group-lg">
                        <nz-form-item>
                            <input  
                                class="form-control" 
                                nz-input 
                                type="text"
                                id=""
                                name=""/>                                                                               
                        </nz-form-item>
                    </div>
                </div>                 
            </div> 
                         
        </div>                       
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <nz-form-label>
                <label for="">
                    {{(getLang() == 'EN' ? ('Quota Achievement Payment Ratio' | translateEn) : ('Quota Achievement Payment Ratio' | translateAr))}}
                </label>
            </nz-form-label>
            <div class="row">
                <div class="col">
                    <div class="input-group-lg">
                        <nz-form-item>
                            <input  
                                class="form-control" 
                                nz-input 
                                type="text"
                                id=""
                                name=""/>                                                                               
                        </nz-form-item>
                    </div>
                </div>

                <div class="col">
                    <div class="input-group-lg">
                        <nz-form-item>
                            <input  
                                class="form-control" 
                                nz-input 
                                type="text"
                                id=""
                                name=""/>                                                                               
                        </nz-form-item>
                    </div>
                </div>  
                
                <div class="col">
                    <div class="input-group-lg">
                        <nz-form-item>
                            <input  
                                class="form-control" 
                                nz-input 
                                type="text"
                                id=""
                                name=""/>                                                                               
                        </nz-form-item>
                    </div>
                </div>

                <div class="col">
                    <div class="input-group-lg">
                        <nz-form-item>
                            <input  
                                class="form-control" 
                                nz-input 
                                type="text"
                                id=""
                                name=""/>                                                                               
                        </nz-form-item>
                    </div>
                </div> 
                
                <div class="col">
                    <div class="input-group-lg">
                        <nz-form-item>
                            <input  
                                class="form-control" 
                                nz-input 
                                type="text"
                                id=""
                                name=""/>                                                                               
                        </nz-form-item>
                    </div>
                </div>                 
            </div> 
                         
        </div>                       
    </div> 
    
    <div class="row">
        <div class="col-md-12">
            <nz-form-label>
                <label for="">
                    {{(getLang() == 'EN' ? ('Quota Achievement Bonus' | translateEn) : ('Quota Achievement Bonus' | translateAr))}}
                </label>
            </nz-form-label>
            <div class="row">
                <div class="col">
                    <div class="input-group-lg">
                        <nz-form-item>
                            <input  
                                class="form-control" 
                                nz-input 
                                type="text"
                                id=""
                                name=""/>                                                                               
                        </nz-form-item>
                    </div>
                </div>

                <div class="col">
                    <div class="input-group-lg">
                        <nz-form-item>
                            <input  
                                class="form-control" 
                                nz-input 
                                type="text"
                                id=""
                                name=""/>                                                                               
                        </nz-form-item>
                    </div>
                </div>  
                
                <div class="col">
                    <div class="input-group-lg">
                        <nz-form-item>
                            <input  
                                class="form-control" 
                                nz-input 
                                type="text"
                                id=""
                                name=""/>                                                                               
                        </nz-form-item>
                    </div>
                </div>

                <div class="col">
                    <div class="input-group-lg">
                        <nz-form-item>
                            <input  
                                class="form-control" 
                                nz-input 
                                type="text"
                                id=""
                                name=""/>                                                                               
                        </nz-form-item>
                    </div>
                </div> 
                
                <div class="col">
                    <div class="input-group-lg">
                        <nz-form-item>
                            <input  
                                class="form-control" 
                                nz-input 
                                type="text"
                                id=""
                                name=""/>                                                                               
                        </nz-form-item>
                    </div>
                </div>                 
            </div> 
                         
        </div>                       
    </div>    
</form>