<form class="form" [formGroup]="contriesForm" autocomplete="off" nz-form  #f="ngForm" style="padding-top: 1.25rem;">
    <div class="row"> 
        <div class="col-md-12">
            <div class="form-group">
                <nz-form-label>
                    <label for="CountryCode">
                        {{(getLang() == 'EN' ? ('CountryCode' | translateEn) : ('CountryCode' | translateAr))}}
                    </label>
                </nz-form-label>
                <div class="input-group-lg">
                    <nz-form-item>
                        <input  
                            class="form-control" 
                            nz-input 
                            type="text"
                            formControlName="CountryCode" 
                            id="CountryCode" 
                            name="CountryCode" 
                            ngModel/>
                    </nz-form-item>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <nz-form-label>
                    <label for="CountryName">
                        {{(getLang() == 'EN' ? ('CountryName' | translateEn) : ('CountryName' | translateAr))}}
                    </label>
                </nz-form-label>
                <div class="input-group-lg">
                    <nz-form-item>
                        <nz-form-control>
                            <input  
                                class="form-control" 
                                nz-input 
                                type="text"
                                formControlName="CountryName" 
                                id="CountryName" 
                                name="CountryName" 
                                ngModel/>
                        </nz-form-control>                                                
                    </nz-form-item>
                </div>
            </div>
        </div>                                                
    </div>
</form>  