<section class="grid-table">
  <div class="table-responsive" style="margin-top: 5px;">
    <nz-table 
      #headerTable  
      [nzData]="data" 
      nzShowPagination
      [nzPageSize]="10"
      [nzFooter]="taxFooter"
      class="table w-500-sm forms-table table-striped remove-pagination"
      [nzScroll]="{ x: '240px' }"
      [class.forms-table]="gridLingth > 5"
      [class.w-200]="gridLingth > 7"
      *ngIf="data.length >= 1">
      <thead>
        <tr> 
          <th width="30px" class="text-center">#</th>
          <th width="30px" class="text-center">{{(getLang() == 'EN' ? ('Delete' | translateEn) : ('Delete' | translateAr))}}</th>
          <th width="30px" class="text-center">{{(getLang() == 'EN' ? ('Edit' | translateEn) : ('Edit' | translateAr))}}</th>
          <ng-container *ngFor="let head of (getLang() == 'EN' ? (headerTable.data[0] | translateEn) : (headerTable.data[0] | translateAr))">
            <th  
              *ngIf="(head != 'id' && head != 'isTax')"    
              [style.width]="head == 'Description' && '100px'"
              [style.width]="head == 'اسم الصنف' && '100px'"
              class="field-width text-center">
              <ng-container>
                {{head}}
              </ng-container>
            </th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let allData of data; let i = index">            
          <tr *ngIf="!allData.isTax">
            <td class="text-center">{{i + 1}}</td>
            <td class="text-center">
              <button class="btn reset-btn" matRipple (click)="removeRow(allData.id)" [disabled]="(isDisabled || ((allData.OrderedQty - allData.CanceledQty) == allData.Invoiced))">
                <i nz-icon nzType="minus-circle" nzTheme="outline"></i>
              </button>
            </td>
            <td class="text-center">
              <button 
                class="btn reset-btn btn-success" 
                matRipple 
                (click)="updateRow(i)" 
                [disabled]="(isDisabled || ((allData.OrderedQty - allData.CanceledQty) == allData.Invoiced))">
                <i nz-icon nzType="edit" nzTheme="outline"></i>
              </button>
            </td>  
            <ng-container *ngFor="let d of allData | render;"  >
              <td 
                *ngIf="(d != 'id' && d != 'isTax')"
                class="grid-row"
                [class.hide-long-text]="d == 'ItemName'"
                [class.hide-long-text-adjust]="d == 'ItemName'"
                [class.text-left]="(d == 'ItemName' && getLang() == 'EN')"
                [class.text-right]="(d == 'ItemName' && getLang() == 'AR')"
                [class.text-center]="allData[d] | canBeCenter"
                class="hide-long-text">
                {{allData[d] | replaceEmpty}}
              </td>             
            </ng-container>        
          </tr>
        </ng-container>
      </tbody>   
    </nz-table>
  </div>
</section>

<ng-template #taxFooter>
  <ng-container *ngIf="(isTax && isAutoTax)">
    <div class="row">
      <div class="col-md-3">
        <nz-form-label>
          <label for="ItemCode">
              {{(getLang() == 'EN' ? ('ItemCode' | translateEn) : ('ItemCode' | translateAr))}}
          </label>
        </nz-form-label>
      </div>
      <div class="col-md-7">
        <nz-form-label>
          <label for="ItemName">
              {{(getLang() == 'EN' ? ('ItemName' | translateEn) : ('ItemName' | translateAr))}}
          </label>
        </nz-form-label>      
      </div>
      <div class="col-md-2">
        <nz-form-label>
          <label for="Tax">
              {{(getLang() == 'EN' ? ('Tax' | translateEn) : ('Tax' | translateAr))}}
          </label>
        </nz-form-label>       
      </div>    
    </div>
    <ng-container *ngFor="let t of taxArr; let i = index">
      <div class="row" style="align-items: center; margin-top: 10px;">
        <div class="col-md-3">
          <span class="d-block">
            {{t.ItemCode}}
          </span>
        </div>
        <div class="col-md-7">     
          <span class="d-block">
            {{t.ItemName}}
          </span>
        </div>
        <div class="col-md-2">     
          <label class="label label-danger d-block text-center">
            {{t.SubTotal}}
          </label>
        </div> 
      </div>
    </ng-container>
  </ng-container>

  <!-- if auto tax -->
  <ng-container *ngIf="(isTax && !isAutoTax)">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <nz-form-label>
          <label for="ItemCode">
              {{(getLang() == 'EN' ? ('ItemCode' | translateEn) : ('ItemCode' | translateAr))}}
          </label>
        </nz-form-label>
      </div>
      <div class="col-md-7">
        <nz-form-label>
          <label for="ItemName">
              {{(getLang() == 'EN' ? ('ItemName' | translateEn) : ('ItemName' | translateAr))}}
          </label>
        </nz-form-label>      
      </div>
      <div class="col-md-2">
        <nz-form-label>
          <label for="Tax">
              {{(getLang() == 'EN' ? ('Tax' | translateEn) : ('Tax' | translateAr))}}
          </label>
        </nz-form-label>       
      </div>    
    </div>
    <ng-container *ngFor="let t of data; let i = index">
      <div 
        class="row tax-row" 
        style="align-items: center; margin-top: 10px;"         
        *ngIf="t.isTax"
        (click)="updateRow(i)">
        <div class="col-md-1" *ngIf="!isAutoTax">
          <button class="btn reset-btn" matRipple (click)="removeRow(t.id)" [disabled]="(isDisabled || ((t.OrderedQty - t.CanceledQty) == t.Invoiced))">
            <i nz-icon nzType="minus-circle" nzTheme="outline"></i>
          </button>
        </div>
        <div class="col-md-2">
          <span class="d-block">
            {{t.ItemCode}}
          </span>
        </div>
        <div class="col-md-7">     
          <span class="d-block">
            {{t.ItemName}}
          </span>
        </div>
        <div class="col-md-2">     
          <label class="label label-danger d-block text-center">
            {{t.SubTotal}}
          </label>
        </div> 
      </div>
    </ng-container>
  </ng-container>  
</ng-template>

