<div class="row adjust-position">
    <div class="col-md-12">
        <!-- hide grid -->
        <button 
            class="btn action-btn" 
            matRipple 
            (click)="hideGrid()" 
            style="box-shadow: none !important;" >
            <i 
                nz-icon 
                nzType="plus-circle" 
                nzTheme="outline" 
                style="position: relative; top: -3px;"></i>
        </button>               
        <!-- hide grid -->
        <!-- grid form -->
        <form 
            class="form add-overlay" 
            autocomplete="off" 
            nz-form style="margin-top: 5px;"
            [class.d-none]="isShowGrid"
            [class.d-block]="!isShowGrid">
            <div class="row">
                <!-- item -->
                <div class="col-md-6 col-6">
                    <nz-form-label>
                        <label for="">
                            {{(getLang() == 'EN' ? ('Item Code' | translateEn) : ('Item Code' | translateAr))}}
                        </label>
                    </nz-form-label>                            
                    <nz-form-item>
                        <nz-input-group nzSearch [nzAddOnAfter]="itemCodeButton">
                            <input  
                                class="form-control" 
                                nz-input 
                                type="text"
                                id=""
                                name=""/>
                        </nz-input-group> 
                        <ng-template #itemCodeButton>
                            <button 
                                nz-button 
                                nzType="primary" 
                                nzSearch
                                class="search-btn btn-info"
                                matRipple>
                                <i nz-icon nzType="search" *ngIf="!isItems"></i>
                                <i nz-icon nzType="loading" nzTheme="outline" *ngIf="isItems"></i>
                            </button>
                        </ng-template>                                                                                                                     
                    </nz-form-item>
                </div>                     
                <div class="col-md-6 col-6">
                    <nz-form-label>
                        <label for="">
                            {{(getLang() == 'EN' ? ('ItemName' | translateEn) : ('ItemName' | translateAr))}}
                        </label>
                    </nz-form-label>                            
                    <nz-form-item>
                        <input  
                            class="form-control" 
                            nz-input 
                            type="text"
                            id=""
                            name=""
                            disabled/>                                                                                                                    
                    </nz-form-item>
                </div> 
                <!-- item --> 
                
                <!-- Part Number -->
                <div class="col-md-3 col-3">
                    <nz-form-label>
                        <label for="">
                            {{(getLang() == 'EN' ? ('Part Number' | translateEn) : ('Part Number' | translateAr))}}
                        </label>
                    </nz-form-label>                            
                    <nz-form-item>
                        <input  
                            class="form-control ordered-check" 
                            nz-input 
                            type="text"
                            id=""
                            name=""/>                                                                                                                    
                    </nz-form-item>
                </div>
                <!-- Part Number --> 
                
                <!-- Qty. -->
                <div class="col-md-3 col-3">
                    <nz-form-label>
                        <label for="">
                            {{(getLang() == 'EN' ? ('Qty.' | translateEn) : ('Qty.' | translateAr))}}
                        </label>
                    </nz-form-label>                            
                    <nz-form-item>
                        <input  
                            class="form-control ordered-check" 
                            nz-input 
                            type="text"
                            id=""
                            name=""/>                                                                                                                    
                    </nz-form-item>
                </div>
                <!-- Qty. --> 

                <!-- Price -->
                <div class="col-md-3 col-3">
                    <nz-form-label>
                        <label for="">
                            {{(getLang() == 'EN' ? ('Price' | translateEn) : ('Price' | translateAr))}}
                        </label>
                    </nz-form-label>                            
                    <nz-form-item>
                        <input  
                            class="form-control ordered-check" 
                            nz-input 
                            type="text"
                            id=""
                            name=""/>                                                                                                                    
                    </nz-form-item>
                </div>
                <!-- Price -->                 
                
                <!-- Sub Total -->
                <div class="col-md-3 col-3">
                    <nz-form-label>
                        <label for="">
                            {{(getLang() == 'EN' ? ('Sub Total' | translateEn) : ('Sub Total' | translateAr))}}
                        </label>
                    </nz-form-label>                            
                    <nz-form-item>
                        <input  
                            class="form-control ordered-check" 
                            nz-input 
                            type="text"
                            id=""
                            name=""/>                                                                                                                    
                    </nz-form-item>
                </div>
                <!-- Sub Total --> 

                <!-- Origin -->
                <div class="col-md-6 col-6">
                    <nz-form-label>
                        <label for="">
                            {{(getLang() == 'EN' ? ('Origin' | translateEn) : ('Origin' | translateAr))}}
                        </label>
                    </nz-form-label>                            
                    <nz-form-item>
                        <nz-input-group nzSearch [nzAddOnAfter]="originButton">
                            <input  
                                class="form-control" 
                                nz-input 
                                type="text"
                                id=""
                                name=""/>
                        </nz-input-group> 
                        <ng-template #originButton>
                            <button 
                                nz-button 
                                nzType="primary" 
                                nzSearch
                                class="search-btn btn-info"
                                matRipple>
                                <i nz-icon nzType="search" *ngIf="!isItems"></i>
                                <i nz-icon nzType="loading" nzTheme="outline" *ngIf="isItems"></i>
                            </button>
                        </ng-template>                                                                                                                   
                    </nz-form-item>
                </div>
                <!-- Origin -->                             

                <!-- Memo -->
                <div class="col-md-6 col-6">
                    <nz-form-label>
                        <label for="">
                            {{(getLang() == 'EN' ? ('Memo' | translateEn) : ('Memo' | translateAr))}}
                        </label>
                    </nz-form-label>                            
                    <nz-form-item>
                        <textarea class="form-control" nz-input nzAutosize></textarea>                                                                                                                     
                    </nz-form-item>
                </div>
                <!-- Memo -->  

                <!-- dist qty -->
                <div class="col-md-3 col-3">
                    <nz-form-label>
                        <label for="">
                            {{(getLang() == 'EN' ? ('Dist. Qty' | translateEn) : ('Dist. Qty' | translateAr))}}
                        </label>
                    </nz-form-label>                            
                    <nz-form-item>
                        <input  
                            class="form-control ordered-check" 
                            nz-input 
                            type="text"
                            id=""
                            name=""/>                                                                                                                    
                    </nz-form-item>
                </div>
                <!-- dist qty --> 
                
                <!-- Pur # -->
                <div class="col-md-3 col-3">
                    <nz-form-label>
                        <label for="">
                            {{(getLang() == 'EN' ? ('Pur #' | translateEn) : ('Pur #' | translateAr))}}
                        </label>
                    </nz-form-label>                            
                    <nz-form-item>
                        <input  
                            class="form-control ordered-check" 
                            nz-input 
                            type="text"
                            id=""
                            name=""/>                                                                                                                    
                    </nz-form-item>
                </div>
                <!-- Pur # -->
                
                <!-- Order No. -->
                <div class="col-md-3 col-3">
                    <nz-form-label>
                        <label for="">
                            {{(getLang() == 'EN' ? ('Order No.' | translateEn) : ('Order No.' | translateAr))}}
                        </label>
                    </nz-form-label>                            
                    <nz-form-item>
                        <input  
                            class="form-control ordered-check" 
                            nz-input 
                            type="text"
                            id=""
                            name=""/>                                                                                                                    
                    </nz-form-item>
                </div>
                <!-- Order No. --> 
                
                <!-- Invoice # -->
                <div class="col-md-3 col-3">
                    <nz-form-label>
                        <label for="">
                            {{(getLang() == 'EN' ? ('Invoice #' | translateEn) : ('Invoice #' | translateAr))}}
                        </label>
                    </nz-form-label>                            
                    <nz-form-item>
                        <input  
                            class="form-control ordered-check" 
                            nz-input 
                            type="text"
                            id=""
                            name=""/>                                                                                                                    
                    </nz-form-item>
                </div>
                <!-- Invoice # -->                             
                                                                        
                <!-- Dispatch # -->
                <div class="col-md-4 col-4">
                    <nz-form-label>
                        <label for="">
                            {{(getLang() == 'EN' ? ('Dispatch #' | translateEn) : ('Dispatch #' | translateAr))}}
                        </label>
                    </nz-form-label>                            
                    <nz-form-item>
                        <input  
                            class="form-control ordered-check" 
                            nz-input 
                            type="text"
                            id=""
                            name=""/>                                                                                                                    
                    </nz-form-item>
                </div>
                <!-- Dispatch # --> 
                
                <!-- dispatch date --> 
                <div class="col-md-4 col-4">
                    <nz-form-label>
                        <label for="">
                            {{(getLang() == 'EN' ? ('Dispatch Date' | translateEn) : ('Dispatch Date' | translateAr))}}
                        </label>
                    </nz-form-label>                            
                    <nz-form-item>
                        <nz-date-picker  
                            [nzPlaceHolder]="''"
                            ngMode
                            [nzFormat]="'dd/MM/yyyy'"></nz-date-picker>                                                                                                                     
                    </nz-form-item>
                </div> 
                <!-- dispatch date --> 
                
                <!-- FWD Collection -->
                <div class="col-md-4 col-4">
                    <nz-form-label>
                        <label for="">
                            {{(getLang() == 'EN' ? ('FWD Collection' | translateEn) : ('FWD Collection' | translateAr))}}
                        </label>
                    </nz-form-label>                            
                    <nz-form-item>
                        <input  
                            class="form-control ordered-check" 
                            nz-input 
                            type="text"
                            id=""
                            name=""/>                                                                                                                    
                    </nz-form-item>
                </div>
                <!-- FWD Collection -->                 

                <!-- submit -->
                <div class="col-md-3" *ngIf="isAdd" style="margin-bottom: 10px;">
                    <button 
                        class="btn btn-primary btn-block" 
                        matRipple 
                        style="box-shadow: none !important;">
                        {{(getLang() == 'EN' ? ('Add' | translateEn) : ('Add' | translateAr))}}
                    </button>
                </div>
                <!-- submit -->

                <!-- Edit -->
                <div class="col-md-3" *ngIf="!isAdd" style="margin-bottom: 10px;">
                    <button 
                        class="btn btn-success btn-block" 
                        matRipple 
                        style="box-shadow: none !important;">
                        {{(getLang() == 'EN' ? ('Edit' | translateEn) : ('Edit' | translateAr))}}
                    </button>
                </div>
                <!-- Edit -->                        

                <!-- show grid -->
                <div class="col-md-3">
                    <button 
                        class="btn btn-block" 
                        [class.btn-outline-primary]="isAdd"
                        [class.btn-outline-success]="!isAdd"
                        matRipple 
                        style="box-shadow: none !important;"
                        (click)="showGrid()">
                        {{(getLang() == 'EN' ? ('Hide' | translateEn) : ('Hide' | translateAr))}}
                    </button>
                </div>
                <!-- show grid -->                        
            </div>
        </form>
        <!-- grid form -->  
        <!-- grid -->
        <div class="data-grid" [class.d-block]="isShowGrid" [class.d-none]="!isShowGrid">
            <app-grid [gridData]="gridData"></app-grid>
        </div>
        <!-- grid -->                  
    </div>
</div>