<section class="items-in-branches">
    <div class="table-responsive">
        <nz-table 
            #headerTable  
            nzShowPagination
            [nzPageSize]="10"
            [nzData]="data"  
            [nzScroll]="{ x: '800px' }"
            class="table super-ultra-wide table-striped"
            (nzCurrentPageDataChange)="tblPageChangeHandler($event)"
            [nzLoading]="isTableSearch">
            <thead *ngIf="data.length > 0">
                <tr> 
                    <th 
                        *ngFor="let head of (getLang() == 'EN' ? (headerTable.data[0] | translateEn) : (headerTable.data[0] | translateAr)); let i = index">
                        <app-sort [data]="data" [sortIndex]="i" [title]="head" (sortedData)="sotrHandler($event)"></app-sort>
                    </th>
                </tr>
            </thead>
            <tbody style="height: 100px;">
                <tr
                    *ngFor="let allData of headerTable.data; let i = index"
                    (click)="onItemClicked(i)" 
                    style="cursor: pointer;">
                    <td 
                        *ngFor="let d of allData | render" 
                        class="hide-long-text"
                        [class.text-center]="allData[d] | canBeCenter">{{allData[d] | replaceEmpty}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th *ngFor="let key of headerTable.data[0]" >
                        <input 
                            nz-input
                            class="form-control" 
                            type="text" 
                            #value 
                            (keyup)="filterData(key, value.value)" />
                    </th>
                </tr>
            </tfoot>
        </nz-table>        
    </div>

    <app-loader [loader]="isTableSearch"></app-loader>
</section>

<!-- modal -->

<nz-modal
    [(nzVisible)]="isVisible" 
    [nzTitle]="modalTitle" 
    (nzOnCancel)="handleCancel()"
    [nzStyle]="{ top: '20px' }"
    nzClassName="{{(getLang() == 'AR') ? 'lang-ar' : 'lang-en'}} items-in-branch"
    nzWidth="70%">
    <nz-descriptions nzSize="small">
        <nz-descriptions-item 
            *ngFor="let key of keys" 
            [nzTitle]="(getLang() == 'EN' ? (key | translateEn) : (key | translateAr))"
            class="{{(getLang() == 'AR') ? 'lang-ar' : 'lang-en'}}">
            {{selectedRow[0][key]}}
        </nz-descriptions-item>
    </nz-descriptions>

    <div *nzModalFooter></div>
</nz-modal>