<section class="change-passowrd">
    <form nz-form autocomplete="off" [formGroup]="changePwpForm">
        <div class="col-md-12">
            <div class="form-group">
                <nz-form-label>
                    <label for="oldPwp">
                        {{(getLang() == 'EN' ? ('Old Password' | translateEn) : ('Old Password' | translateAr))}}
                    </label>
                </nz-form-label>                                                                                                
                <div class="input-group-lg">
                    <nz-form-item>
                        <input  
                            class="form-control" 
                            nz-input 
                            type="password"
                            formControlName="oldPwp" 
                            id="oldPwp" 
                            name="oldPwp"/>                                             
                    </nz-form-item>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <nz-form-label nzRequired>
                    <label for="newPwp">
                        {{(getLang() == 'EN' ? ('New Password' | translateEn) : ('New Password' | translateAr))}}
                    </label>
                </nz-form-label>                                                                                                
                <div class="input-group-lg">
                    <nz-form-item>
                        <input  
                            class="form-control" 
                            nz-input 
                            type="password"
                            formControlName="newPwp" 
                            id="newPwp" 
                            name="newPwp"
                            (ngModelChange)="updateConfirmValidator()"/>                                             
                    </nz-form-item>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <nz-form-label nzRequired>
                    <label for="verifyPwp">
                        {{(getLang() == 'EN' ? ('Verify Password' | translateEn) : ('Verify Password' | translateAr))}}
                    </label>
                </nz-form-label>                                                                                                
                <div class="input-group-lg">
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="errorTpl">
                            <input  
                                class="form-control" 
                                nz-input 
                                type="password"
                                formControlName="verifyPwp" 
                                id="verifyPwp" 
                                name="verifyPwp"/> 
                            <ng-template #errorTpl let-control>
                              <ng-container *ngIf="control.hasError('required')">
                                {{lang.pwpCheckRequired}}
                              </ng-container>

                              <ng-container *ngIf="control.hasError('confirm')">
                                {{lang.pwpCheckNotMatch}}
                              </ng-container>
                            </ng-template>
                        </nz-form-control>                                                                    
                    </nz-form-item>
                </div>
            </div>
        </div> 
        <div class="col-md-12">
            <div class="form-group">
                <div class="input-group-lg">
                    <button 
                        class="btn btn-block btn-lg btn-info reset-btn" 
                        type="submit" 
                        matRipple
                        [disabled]="!changePwpForm.valid"
                        (click)="changePwp()">
                        {{lang.changePwpBtn}}
                        <i nz-icon nzType="loading" nzTheme="outline" *ngIf="isChanging"></i>
                    </button>
                </div>
            </div>
        </div>                        
    </form>
</section>